nav{
  height: 8vh;
  background-color: #1E3A8A;
}
main{
  min-height: 92vh;
}
.search-button{
  cursor: pointer;
}
.left h1{
  font-family: 'poppins';
  font-weight: bold;
  color: white;
}
.left p{
  color: white;
}
.headerCont{
  background: linear-gradient(135deg ,#1E3A8A, #1E3A8A, #4495c4);
}
