body{
  background-color: #F9F9F9!important;
}

nav{
  height: 8vh;
  position: absolute;
  width: 100%;
  font-family: 'poppins';
}
nav .navbar-brand{
  font-weight: bold;
}
main{
  min-height: 92vh;
}
.search-button{
  cursor: pointer;
}
.left h1{
  font-family: 'poppins';
  font-weight: bold;
  color: white;
}
.left p{
  color: white;
}

.wikiSearchH1{
  font-size: 5rem;
  font-family: 'poppins';
  font-weight: bold;
}

#particles{
  position: absolute;
  z-index: -1;
}

#particles canvas{
  background: linear-gradient(135deg ,#1E3A8A, #1E3A8A, #4495c4)!important;
}

form.form{
  background-color: rgba(255, 255, 255, 0.1)!important;
  backdrop-filter: blur(4px);
  border: 2px rgb(255, 255, 255, .5) solid;
  min-height: 70vh;
  min-width: 30vw;
  color: white;
  font-family: 'poppins';
}
form.form input{
    background-color: rgb(255, 255, 255, .1);
    border: none;
    border-bottom: 1px white solid;
    color: white;
}

form.form input:focus, form.form input:is(:-webkit-autofill, :autofill){
  background-color: rgb(255, 255, 255, .1);
  border: none;
  border-bottom: 1px white solid;
  color: white;
}
form.form a{
  color: white;
}
.w-49{
  width: 49%;
}